# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Notebooks
.ipynb_checkpoints/

# Data and artifacts
data/raw/
data/processed/
models/
outputs/
*.parquet
*.pkl
*.joblib

# OS / editors
.DS_Store
.vscode/
.idea/
